.form-container{
    width: 100%;
    /* background-color: rgb(156, 129, 129); */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.form-content{
    width: 60%;
    margin: 30px auto;
    padding: 30px;
}
.form-content .input__box{
    margin: 20px auto;
}
.form-content h2{
    text-align: center;
}

.input__box{
    width: 100%;
}

.sign__input{
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 400;
}
.sign__label{
    margin-left: 0;
    font-weight: bold;
}
.form__btn{
    padding: 10px;
    background-color: rgb(7, 58, 7);
    outline: none;
    border: none;
    color: white;
}
